import { FC } from 'react'
import * as S from './styles'
import { {{pascalCase name}}Props } from './types'

const {{pascalCase name}}: FC<{{pascalCase name}}Props> = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
